<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Manager</title>
</head>
<body>
<div>
    <div th:replace="fragments/layout :: body"></div>
</div>

<div>
    <h1>👥 Quản lý người dùng</h1>
    <form method="get" action="#">
        <input type="text" name="kw" th:value="${keyword}" placeholder="Tìm tên người dùng">
        <button type="submit">Tìm</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Tên</th>
            <th>Vai trò</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <span th:text="${user.status ? 'Hoạt động' : 'Bị khóa'}"></span>
            </td>
            <td>
                <a th:href="@{/admin/users/edit/{id}(id=${user.id})}">Sửa</a>
                <span>|</span>
                <form th:action="@{/admin/users/lock/{id}(id=${user.id})}" method="post" th:if="${user.status}">
                    <button type="submit">Khóa</button>
                </form>
                <form th:action="@{/admin/users/unlock/{id}(id=${user.id})}" method="post" th:if="${!user.status}">
                    <button type="submit">Mở</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <ul>
            <li th:if="${currentPage > 1}">
                <a th:href="@{/admin/users(page=${currentPage - 1})}">«</a>
            </li>

            <li th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a th:href="@{/admin/users(page=${i})}" th:text="${i}"></a>
            </li>

            <li th:if="${currentPage < totalPages}">
                <a th:href="@{/admin/users(page=${currentPage + 1})}">»</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>