<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8"/>
    <title>Trang Chủ</title>
</head>
<body>
<div>
    <h2>Danh sách sản phẩm</h2>
    <a href="cart/view">Giỏ hàng của bạn</a>
</div>
<div>
    <div th:each="product : ${products}">
        <img th:src="@{${product.image}}" alt="ảnh"/>
        <h3 th:text="${product.productName}"></h3>
        <p th:text="${product.description}"></p>
        <p>
            Giá: <span th:text="${product.price}"></span>
        </p>
        <a
                th:href="@{/product/{id}(id=${product.id})}"
        >
            Chi tiết
        </a>
    </div>
</div>

<!-- Pagination -->
<div>
    <ul>
        <li th:if="${currentPage > 1}">
            <a
                    th:href="@{/home(page=${currentPage - 1})}"
            >
                «
            </a>
        </li>

        <li th:each="i : ${#numbers.sequence(1, totalPages)}">
            <a
                    th:href="@{/home(page=${i})}"
                    th:text="${i}"
            >
                1
            </a>
        </li>

        <li th:if="${currentPage < totalPages}">
            <a
                    th:href="@{/home(page=${currentPage + 1})}"
            >
                »
            </a>
        </li>
    </ul>
</div>

</body>
</html>