<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8"/>
    <title>Đăng nhập</title>
</head>
<body>
<div>
    <h2>Đăng nhập</h2>
    <form th:action="@{/auth/login}" th:object="${customer}" method="post">
        <div>
            <label for="username">Username</label>
            <input
                    type="text"
                    th:field="*{username}"
                    id="username"
            />
        </div>

        <div>
            <label for="password">Password</label>
            <input
                    type="password"
                    th:field="*{password}"
                    id="password"
            />
        </div>

        <p th:if="${error}" th:text="${error}"></p>

        <button
                type="submit"
        >
            Đăng nhập
        </button>

        <div>
            <p>
                Chưa có tài khoản? <a href="#" th:href="@{/auth/register}">Đăng ký</a>
            </p>
        </div>
    </form>
</div>
</body>
</html>